<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<div style="text-align:center">
  <button type="button" (click)="setTimeZone(4)" [ngStyle]="getStyle(4)" name="pst">PST</button>
  <button type="button" (click)="setTimeZone(3)" [ngStyle]="getStyle(3)" name="mst">MST</button>
  <button type="button" (click)="setTimeZone(2)" [ngStyle]="getStyle(2)" name="cst">CST</button>
  <button type="button" (click)="setTimeZone(1)" [ngStyle]="getStyle(1)" name="est">EST</button>
  <button type="button" (click)="setTimeZone(0)" [ngStyle]="getStyle(0)" name="clear">clear</button>
</div>
<div style="text-align:center">
  <h1 >{{ time | date:'medium' }}</h1>
</div>
